.aboutHeader {
  font-size: 1.75rem;
  padding-bottom: 1.75rem;
}

.header {
  font-size: 1.75rem;
}

.headerContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-bottom: 1.75rem;
  padding-top: 1rem;
}

.aboutSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column1 {
  width: 48%;
}

.aboutInfo {
  width: 48%;
}

.aboutInfoSection {
  display: flex;
  gap: 0.35rem;
  padding-bottom: 1rem;
}

.aboutInfoSection strong {
  text-transform: capitalize;
}

.programmingSection {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

.LinkedInIcon {
  margin-top: 7px
}

@media screen and (max-width: 860px) {
  .aboutSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
  }

  .column1,
  .aboutInfoSection,
  .aboutInfo {
    width: 100%;
  }
}