.main {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
  min-height: 100vh;
  background-color: white;
  overflow: hidden;
}

.header {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 0.5rem;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.mainContent {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}

.headshotContainer {
  width: 32%;
  height: 85%;
  position: absolute;
  overflow: hidden;
}

.headshot {
  background-image: url(./headshot.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
}

.content {
  grid-column: 2;
  width: 100%;
  overflow-y: auto;
  height: 85vh;
  background-color: rgb(8 140 140 / 0.03);
  padding: 1rem;
}

.home {
  display: flex;
  flex-direction: column;
  height: 84vh;
  justify-content: center;
  margin: 0 1rem;
}

.homeInfo {
  margin-bottom: 4rem;
}

@media screen and (max-width: 860px) {
  .header {
    flex-direction: column;
    height: 10rem;
    padding-bottom: 1rem;
    align-items: center;
  }

  .logoContainer {
    padding-right: 10px;
  }

  .home {
    height: 74vh
  }

  .mainContent {
    grid-template-columns: 1fr;
  }

  .content {
    grid-column: 1;
    padding: 0.25rem;
    height: 75vh;
    padding: 1rem;

  }

  .headshotContainer {
    display: none;
  }
}