.main {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
  min-height: 100vh;
  background-color: white;
  overflow: hidden;
}

.header {
  height: 5rem;
}

.mainContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem
}

.headshotContainer {
  width: 47%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.headshot {
  object-fit: cover;
}

.content {
  grid-column: 2;
  width: 100%;
  overflow-y: auto;
  height: 90vh;
}