.main {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
  min-height: 100vh;
  background-color: white;
  overflow: hidden;
}

.header {
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}

.logoContainer {
  display: flex;
  gap: 0.5rem;
}

.mainContent {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.headshotContainer {
  width: 32%;
  height: 85%;
  position: absolute;
  overflow: hidden;
}

.headshot {
  background-image: url(./headshot.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
}

.content {
  grid-column: 2;
  width: 100%;
  overflow-y: auto;
  height: 85vh;
}

@media screen and (max-width: 860px) {
  .header {
    flex-direction: column;
    height: 10rem;
    padding-bottom: 1rem;
  }

  .mainContent {
    grid-template-columns: 1fr;
  }

  .content {
    grid-column: 1;
    padding: 0.25rem;
  }

  .headshotContainer {
    display: none;
  }
}