.navBar {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  padding-bottom: 0.75rem;
}

.link {
  padding: 5px 6px 7px 6px;
}

.activeLink,
.link:hover {
  background-color: #005757;
  color: white;
  padding: 5px 6px 7px 6px;
  border-radius: 8px;
}

/* 
main content hiding under header on whole page scroll
unable to scroll through content???
- taking overflow off of main doesn't fix
- taking padding-top off of mainContent doesn't fix
- replacing padding-top with margin-top on mainContent doesn't fix
- hiding overflow on body and adding scroll to mainContent doesn't fix
make mainContent position fixed???
*/