.navBar {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  padding-bottom: 0.75rem;
}

.link {
  padding: 5px 6px 7px 6px;
}

.activeLink,
.link:hover {
  background-color: #057a7a;
  color: white;
  padding: 5px 6px 7px 6px;
  border-radius: 8px;
}
