.navBar {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.link {
  height: 34px;
  padding-top: 5px;
  margin: 0 8px;
}

.activeLink,
.link:hover {
  background-color: #057a7a;
  color: white;
  padding: 5px 6px 7px 6px;
  border-radius: 8px;
}

@media screen and (max-width: 1025px) {
  .navBar {
    width: 12%;
  }
}

@media screen and (max-width: 860px) { 
  .navBar {
    width: 35%;
    /* margin-top: 1rem; */
  }
}
